<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="/css/play.css">
</head>
<body>
    <div class="container">
        <div class="randomword">
            
        </div>
        <div class="combined">
            <div class="answers">
                <!-- <table>
                    <tr>
                        <th>Domain1</th>
                        <th>Domain2</th>
                        <th>Domain3</th>
                        <th>Domain4</th>
                        <th>Domain5</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="domain1"></td>
                        <td><input type="text" id="domain2"></td>
                        <td><input type="text" id="domain3"></td>
                        <td><input type="text" id="domain4"></td>
                        <td><input type="text" id="domain5"></td>
                    </tr>
                </table> -->
                <!-- <div class="domains">
                    <label for="domain">Domain1</label>
                    <input type="text" id="domain1">
                </div>
                <div class="domains">
                    <label for="domain">Domain2</label>
                    <input type="text" id="domain2">
                </div>
                <div class="domains">
                    <label for="domain">Domain3</label>
                    <input type="text" id="domain3">
                </div>
                <div class="domains">
                    <label for="domain">Domain4</label>
                    <input type="text" id="domain4">
                </div>
                <div class="domains">
                    <label for="domain">Domain5</label>
                    <input type="text" id="domain5">
                </div>  -->
            </div>
            <div class="completed">
                <button id="done">done</button>
            </div>
        </div>
        
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script src="/js/play.js"></script>
</html>