<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/css/result.css">
</head>
<body>
    <div class="container">
        <div class="result">
            <table id = "resultTable">
                
            </table>
        </div>
        <button id="next">Next</button>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script src="/js/result.js"></script>
</html>