<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="/css/room.css">
</head>
<body>
    <div class="container">
        <button id="create">Create new room</button>
        <button id="join">Join an existing room</button>    
        
    </div>
</body>
<script src="/js/room.js"></script>
</html>