body {
	font-size: 1.5rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: dimgrey;
}
#username-form {
	background-color: white;
	padding: 2rem;
	text-align: center;
}
#username {
	padding: 0 0.5em;
	text-align: center;
	font-size: 1.2rem;
	height: 40px;
	width: 90%;
	border: 1px solid black;
	outline: none;
}

#submit {
	font-size: 1.1rem;
	margin: 1em auto 0;
	height: 40px;
	width: 120px;
	border: none;
	background-color: dimgrey;
	color: white;
	transition: all 0.4s ease;
}

#submit:hover {
	background-color: grey;
}
