.container{
    text-align: center;
}


.welcometolobby{
    /* margin-top: 20vh; */
    font-size: 2rem;
}

.activeusers{
    font-size: 1.1rem;

}

/* .user{
    border-left: 6px solid crimson;
} */

#start{
    width: 100px;
    height: 35px;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: rgb(161, 235, 161);
}

.roomcode{
    margin-top: 15vh;
    font-size: 120%;
}