body {
	background-color: dimgray;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
	max-width: 1000px;
	min-width: 260px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#create,
#join {
	font-size: 1.2rem;
	height: 80px;
	width: 250px;
	margin: 1em;
	border: none;
	background-color: white;
}

#create:hover,
#join:hover {
	background-color: rgb(235, 235, 235);
}
